@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
  background-color: var(--background-color);
  margin: 0;
  @apply font-sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #222222;
}

:root {
  --background-color: #F0F6FF;
  --primary: #314095;
  --primary-active: #263277;
  --primary-rso: #FFCC33;
  --primary-rso-hover: #ffd041;
  --primary-rso-border: #E68E0A;
  --mid-gray: #e0e0e0;
  --dark-gray: #333333;
}