@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
  margin: 0;
  @apply font-sans; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #222222;
}

:root {
  background-color: #f5f5f5;
  --primary: #263170;
  --primary-rso: #F2BE28;
  --primary-rso-hover: #FFC92D;
  --primary-rso-border: #E68E0A;
  --mid-gray: #e0e0e0;
  --dark-gray: #333333;
}



