.imageStyle {
    height: 1rem;  
    margin-left: 3rem; 
    object-fit: contain; 
    opacity: 1; /* Initially fully visible */
    transition: opacity 0.1s ease-out;
}

.iconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    height: 2rem;  
    margin-left: 3rem;  
    object-fit: contain;  
    opacity: 0; 
    
}

@media (max-width: 1000px) {
    .imageStyle {
        opacity: 0; 
    }

    .icon {
        opacity: 1; 
        margin-left: 0;
        transition: opacity 0.3s ease-in;
    }
}