.container {
    height: 100vh;
    width: 18%;
    background-color: #314095;
    
}


.sidebarContainer {
    width: 90%;
    margin-left: 12px;
    margin-top: 20%;
}

.hoverDiv {
    margin-top: 24px;
    width: 100%;
    padding: 10px 30px;
    color: white;
    transition: 0.1s ease;   
}

.hoverDiv:hover {
    background-color: #1f2e5d;
    cursor: pointer;
    border-radius: 5px;    
}

.sidebarText {
    margin-left: 10px;
    font-size: 16px;
}

.separator {
    border-radius: 100%;
    width: 100%;
    height: 1px;
    background-color: #ffffff; /* White color for the separator line */
    margin-top: 20px; /* Adjust the margin as needed */
  }

  @media (max-width: 1000px) { 
    .container {
        width: 80px;
    }
    .sidebarContainer {
        width: 100%;
        margin-left: 0;
    }



  }